<div class="read-container"
     data-controller="timer"
     data-timer-update-url-value="<%= start_entry_path(@entry) %>">
  <div class="read__circle">
    <span data-timer-target="command">Press start to read!</span>
  </div>
  <%= button_tag 'Start',
        class: 'button read__start',
        data: { timer_target: 'start', action: 'timer#start' } %>
</div>
