<div class="success-container">
  <h1>Great! Your entry has been created.</h1>
  <p><%= link_to('Add another entry', new_entry_path, class: 'button') %></p>
  <p><%= link_to('View all entries', entries_path, class: 'link') %></p>
</div>
