@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,200;0,400;0,700;1,400&display=swap");

:root {
  // Fonts
  --font-family-serif: "Libre Caslon Text", serif;

  // Colors
  --background-color: #121212;
  --text-color: white;
  --magenta: #ff59ec;
  --orange: #ff8738;
  --green: #74d53c;
  --error: #ff4c4c;

  // Font sizes
  --input-font-size: 1.1em;

  // Border radius
  --border-radius-md: 0.8em;

  // Padding
  --padding-md: 1em;
}
