
<div class="about-container">
    <h1>about breadshelf</h1>
    <h2>our philosophy</h2>
    <p>Very simply, we want people to read more.</p>
        
    <p>
        Technology benefits us in so many ways. However, it has clearly disrupted our education and entertainment habits.
        Various studies have concluded that we are reading less and thinking shorter:
    </p>

    <ul>
        <li><a class="link" href="https://www.cell.com/iscience/fulltext/S2589-0042(25)01549-4">People are reading less</a></li>
        <li><a class="link" href="https://pmc.ncbi.nlm.nih.gov/articles/PMC11236742/">Attention spans are shorter</a></li>
        <li><a class="link" href="https://pmc.ncbi.nlm.nih.gov/articles/PMC7366944/#sec8">Technology use can cause addictive tendencies</a></li>
    </ul>

    <p>We want to reverse these trends.</p>

    <h2>our name</h2>
    <p>"breadshelf" is a name with multiple meanings that represent our philosophy:</p>
    <ul>
        <li>First, it contains the word "read". Reading is what we're all about.</li>
        <li>Second, "shelf" - you're building up a collection of knowledge, such as you do with books on your bookshelf.</li>
        <li>Last, "bread" is a food that provides basic sustenance for the body. We believe reading is bread for the mind.</li>
    </ul>

    <h2>our recommendations</h2>
    <p>These are books that we believe are important for one reason or another. We update these monthly.</p>
    <div style="display: flex; flex-direction: row; gap: 3em;">
        <span style="width: 40%;"><p style="font-size: 2em; margin: 0;">Brave New World</p> <p style="font-size: 1em;">by Aldous Huxley</p></span>
        <span style="width: 40%;"><p style="font-size: 2em; margin: 0;">On the Road</p> <p style="font-size: 1em;">by Jack Kerouac</p></span>
    </div>

    <h2>contact us</h2>
    <p>If you have any questions, comments, or just want to talk about books feel free to email us at <a class="link" href="mailto:hello@breadshelf.com">hello@breadshelf.com</a>!</p>
</div>