<div>
    <h1>Data Deletion Instructions</h1>

    <p>
        This page explains how you can request deletion of your data if you signed up
        for our app using Facebook.
    </p>

    <h2>What Data We Collect</h2>
    <p>
        When you sign up or log in using your Facebook account, we collect only the
        following information:
    </p>
    <ul>
        <li>Your name</li>
        <li>Your email address</li>
    </ul>

    <p>
        This information is used solely to create and manage your account.
    </p>

    <h2>How to Request Data Deletion</h2>
    <p>
        To request deletion of your data, please send an email to:
    </p>
    <p>
        <a href="mailto:developer@breadshelf.com" class="link">
            developer@breadshelf.com
        </a>
    </p>
    <p>
        Please include the email address associated with your account so we can
        locate your data.
    </p>

    <h2>What Happens After You Submit a Request</h2>
    <p>
        After receiving your request:
    </p>
    <ul>
        <li>We will verify the request</li>
        <li>Your account and associated data will be permanently deleted</li>
        <li>The deletion process will be completed within 30 days</li>
    </ul>

    <p>
        If you have any questions, you can contact us at
        <a href="mailto:developer@breadshelf.com" class="link">developer@breadshelf.com</a>.
    </p>
</div>
