
<div class="about-container">
    <h1>about breadshelf</h1>
    <h3>our philosophy</h3>
    <p>
        very simply, we want people to read more. 
        
        we love and appreciate the positive effects that technology has on our lives. however, we are deeply suspicious of the
        effects of the most ubiquitous consumer facing technology products. breadshelf is antithetical to short form, addictive, or otherwise harmful media and entertainment formats.

        if you would like to know more or provide feedback you can email

        hello@breadshelf.com
        
        drop us a line and we'll respond
    </p>

    <h3>our name</h3>
    <p>"breadshelf" is a name that has multiple small meanings that represent our philosophy:</p>
    <ul>
        <li>first, it has the word "read" in it. reading is what we're all about.</li>
        <li>second, it has the word shelf in it like a bookshelf. you're building up a collection of readings, such as you do with books on your bookshelf.</li>
        <li>last, "bread" is a base substance that provides life to humankind. we believe reading is bread for the mind.</li>
    </ul>
</div>