@use "../mixins/mobile_responsive" as m;

.about-container {
  @include m.mobile-container;

  margin: 1em auto;
}

.recommendations {
  display: flex;
  flex-direction: row;
  gap: 3em;

  @include m.mobile-responsive {
    flex-direction: column;
    gap: 1.5em;
  }

  .book {
    width: 40%;

    @include m.mobile-responsive {
      width: 100%;
    }
  }

  .title {
    font-size: 2em;
    margin: 0;
  }

  .author {
    font-size: 1em;
  }
}
