@use "mixins/mobile_responsive";

.entries-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  text-align: center;

  @include mobile_responsive.mobile-container;
}

.entries-form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
}

.entries-form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.entries-form-container input {
  width: 100%;
}

.entries-form-container .btn {
  margin-top: 0.5em;
}
