@use "../mixins/mobile_responsive" as m;

.settings {
  @include m.mobile-container;

  margin: 1em auto;
  text-align: center;
}

.form {
  text-align: start;
  width: 80%;
  margin: 0 auto;

  .element {
    margin-bottom: 1em;
  }
}
