.sign-up-container {
  text-align: center;
  margin: 1em;
}

.sign-up-form {
  display: flex;
  justify-content: center;

  gap: var(--padding-md);
  margin: 1em;
}

.clerk-container {
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.learn-more {
  color: white;
  text-decoration: underline;
}
