<div class="sign-up-container">
    <%= image_tag('crumbs.svg', alt: 'Breadshelf crumbs', class: 'icon') %>
    <h1 class="header">breadshelf is coming soon!</h1>
    <% if @user_exists %>
        <p>You're signed up! We'll update you soon. In the meantime ensure you follow us on social media.</p>
    <% else %>
        <p><%= link_to 'Sign up', '/sign_in', class: 'link' %> to receive an email when we're ready for you.</p>
    <% end %>
    <%= link_to('Learn about us', '/about', class: 'learn-more') %>
</div>