.button {
  padding: var(--padding-sm);
  border-radius: var(--border-radius-sm);
  font-size: var(--input-font-size);
  cursor: pointer;

  outline: none;
  border: none;
  box-sizing: border-box;
}
