.single-line-input {
  box-sizing: border-box;
  outline: 0;
  border: 0;
  padding: var(--padding-md);
  border-radius: var(--border-radius-md);

  background-color: black;
  color: white;

  font-size: var(--input-font-size);
}
