// Sassy

@import "config/variables";

@import "components/input";
@import "components/header";
@import "components/icon";
@import "components/button";

@import "layouts/sign_up";

body {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  font-family: var(--font-family-serif);
}
