// Sassy

@import "config/variables";

@import "components/input";
@import "components/header";
@import "components/icon";
@import "components/button";
@import "components/link";

@import "layouts/sign_up";
@import "layouts/about";

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family-serif);
}
