@use "config/variables";

@use "components/input";
@use "components/header";
@use "components/icon";
@use "components/button";
@use "components/link";
@use "components/flash";

@use "layouts/sign_up";
@use "layouts/about";
@use "layouts/events";
@use "layouts/settings";

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family-serif);
}
