<div class="sign-up-container" data-controller="clerk">
  <div data-clerk-target="loading">
    <p>Loading...</p>
  </div>
  <div data-clerk-target="message" hidden="true">
    <p>Sign in to see your shelf.</p>
    <div id="clerk-node" class="clerk-container"></div>
  </div>
</div>
