<div class="sign-up-container" data-controller="clerk">
    <h1 class="header">breadshelf is coming soon!</h1>
    <%= image_tag('crumbs.svg', alt: 'breadshelf crumbs', class: 'icon') %>

    <div data-clerk-target="message" hidden="true">
        <% if @user_exists %>
            <p>You're signed up! We'll update you soon. In the meantime, make sure you're following us on social media!</p>
            <button class="button" data-action="click->clerk#signOut">Sign out</button> <%# TODO: REMOVE %>
        <% else %>
            <p>Sign up to receive an email when we're ready for you.</p>
        <% end %>
        <div id="clerk-node" class="clerk-container"></div>
    </div>
    <div data-clerk-target="loading">
        <p>Loading...</p>
    </div>
    <%= link_to('Learn about us', '/about', class: 'link') %>
</div>