name: CD

on:
  push:
    branches: [main]

permissions:
  id-token: write

jobs:
  build-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-region: us-east-2
          role-to-assume: arn:aws:iam::040865381987:role/gha_role
          role-session-name: GHASession

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform -chdir=./infra init

      - name: Terraform Plan
        run: terraform -chdir=./infra plan -out=tfplan

      - name: Terraform Apply
        run: terraform -chdir=./infra apply -auto-approve tfplan

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: breadshelf/breadshelf:latest
