<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,200;0,400;0,700;1,400&display=swap');

      .container {
        background-color: #121212;
        color: white;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        padding: 2em;
      }

      h1, p, a {
        font-family: 'Libre Caslon Text', serif;
      }

      p {
        font-size: 1.2em;
      }

      h1 {
        font-weight: 400;
      }

      a {
        color: white;
        padding: 1px;
        text-decoration: underline;
      }

      .socials {
        display: inline;
        margin: 0 auto;
        justify-content: center;
      }

      .link {
         margin: 0 0.5em;
      }

      .icon {
        width: 3em;
        height: 3em;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
